<strong>Ol치, {{ organizer }}</strong>
<p>Um usu치rio se cadastrou no MeetUp {{ meetup }}, confira os detalhes abaixo:</p>
<p>
  <strong>Usu치rio: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ userMail }} <br />
  <br />
  <small>
    Esse evento ser치 um sucesso!
  </small>
</p>
